<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
      "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="webprj.board.mapper.FMapper">
  <select id="getFile" resultType="webprj.board.vo.FileVO">
    select * from mvc_file where bId = #{bId}
  </select>

  <insert id="saveFile">
    insert into mvc_file
    values (mvc_file_seq.nextval, #{bId}, #{fOrgi_name}, #{fName}, #{fPath})
  </insert>
</mapper>